.btn {
  height: 24px;
  width: 48px;
  margin: auto;
  background-color: #3d1f5f;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  &:focus {
    outline: 2px dashed #17171d;
  }
  &--add {
    position: relative;
    height: 24px;
    width: 48px;
    margin: auto;
    background: none;
    border: 1px solid #2b2baa;
    border-radius: 4px;
    background-color: #17171d;
  }
  &--more {
    margin: 32px 0px 4px 0px;
    border: none;
    height: 24px;
    width: 54px;
    border-radius: 6px;
    background-color: #2b2baa;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
  }
  &--remove {
    margin-top: 64px;
    height: 18px;
    background: none;
    border: none;
    text-decoration: underline;
  }
  &--save {
    width: 72px;
    height: 32px;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #4d2d72;
    font-family: Verdana;
  }
}
