.btn {
  display: inline-block;
  height: 32px;
  width: 72px;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  background-color: #17171d;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  &:focus {
    outline: 2px dashed #17171d;
  }
  &:hover {
    color: #000000;
    background-color: #ffffff;
  }
  &--add {
    position: relative;
    height: 32px;
    width: 64px;
  }
  &--more {
    margin: 32px 0px 4px 0px;
    border: none;
    height: 24px;
    width: 54px;
    border-radius: 6px;
    background-color: #2b2baa;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
  }
  &--remove {
    background: none;
    border: none;
    text-decoration: underline;
    &:hover {
      background-color: #aa1616;
      color: #ffffff;
    }
  }
  &--save {
    width: 72px;
    height: 32px;
  }
  &--cancel {
    background: none;
  }
}
