.btn {
  display: inline-block;
  height: 32px;
  width: 72px;
  border: 0.1em solid var(--btn_border);
  border-radius: 0.12em;
  background-color: var(--btn_color);
  color: var(--text_color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  &:focus {
    outline: 2px dashed #17171d;
  }
  &:hover {
    color: var(--hover_text);
    background-color: var(--hover_color);
  }
  &--more {
    margin: 32px 0px 4px 0px;
    border: none;
    height: 24px;
    width: 54px;
    border-radius: 6px;
    background-color: #2b2baa;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
  }
  &--remove {
    background: none;
    border: none;
    text-decoration: underline;
    color: #ffffff;
    &:hover {
      color: #ffffff;
      background-color: #aa1616;
    }
  }
  &--cancel {
    @extend .btn--remove;
    color: var(--text_color);
  }
}
