.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 12px;

  .grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 174px);
    gap: 10px;
    padding: 24px 0px 24px 0px;
    grid-column-start: 2;
  }

  .settings {
    margin-left: 64px;
    h3 {
      color: #ffffff;
    }
  }
}
