.container {
  // display: flex;
  // flex-direction: column;
  // width: 100%;
  // height: 100vh;
  // margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 574px 1fr;
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    .grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 574px;
      padding: 1rem;
      flex-grow: 2;
    }
  }
  &::before {
    content: '';
    height: 1px;
    width: 1px;
    display: block;
    background-color: #e6e6e6;
  }
}

.settings {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 0.75em;
  font-size: 0.8em;
  a {
    text-decoration: none;
    color: var(--text_color);
    &:hover {
      text-decoration: underline;
    }
  }

  .github {
    display: flex;
    align-items: center;
    font-size: 1rem;
    img {
      height: 24px;
      width: 24px;
      margin: 0.5em;
    }
  }
}
