.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 574px;
    padding: 1rem;
    .flex_div {
      width: 32%;
      margin-bottom: 2%;
    }
  }
}
.settings {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
