.card {
  display: flex;
  height: 100%;
  min-height: 126px;
  justify-content: center;
  position: relative;
  transition: 0.4s ease-out;
  font-size: 1rem;

  @media only screen and (min-width: 360px) {
    & {
      font-size: 1.15em;
      min-height: 160px;
    }
  }
  @media only screen and (min-width: 540px) {
    & {
      font-size: 1.25em;
      min-height: 180px;
    }
  }
  @media only screen and (min-width: 720px) {
    & {
      font-size: 1.5em;
      min-height: 210px;
    }
  }

  &Filled {
    &:hover {
      &::before {
        opacity: 1;
      }
      .body {
        opacity: 1;
        transform: translateY(0px);
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(black, 0.6);
      z-index: 2;
      transition: 0.5s;
      opacity: 0;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: white;
    z-index: 3;
    opacity: 0;
    transform: translateY(1.875em);
    transition: 0.5s;
    text-align: center;
    margin-bottom: 1rem;

    &Title {
      padding: 2em 0.5em 0 0.5em;
      color: #ffffff;
      font-size: 0.75em;
    }
  }
  .title {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text_color);
    font-size: 0.75em;
  }
}

.flexDiv {
  width: 32%;
  margin-bottom: 2%;
}
