.card {
  height: 252px;
  width: 174px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  position: relative;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
  &--filled {
    @extend .card;
  }
  &--filled:hover {
    &::before {
      opacity: 1;
    }
    .card__content {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  &--filled::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(black, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    position: relative;
    color: white;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
    text-align: center;
  }
  &__title {
    margin-top: auto;
    padding: 0px 12px 0 12px;
    color: #ffffff;
    font-size: 1rem;
  }
}
