.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  max-width: 574px;
  width: 100%;
  height: 50px;
  padding: 1.5rem 1rem 1rem 1rem;
  color: var(--text_color);

  .logo {
    font-size: 1.5rem;
  }
}
