.themeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  input {
    position: relative;
    width: 60px;
    height: 32px;
    cursor: pointer;
    appearance: none;
    user-select: none;
    background-color: var(--text_color);
    border-radius: 32px;
    margin: 0;

    &:checked {
      &::before {
        content: '';
        height: 26px;
        width: 26px;
        position: absolute;
        border-radius: 26px;
        top: 3px;
        left: 28px;
        background-color: #b4b4b4;
      }
    }

    &::before {
      content: '';
      height: 26px;
      width: 26px;
      position: absolute;
      border-radius: 26px;
      top: 3px;
      left: 6px;
      background-color: #fffc3a;
    }

    &::before,
    &::after {
      transition: all 0.2s ease-in-out;
    }
  }

  .label {
    &Dark,
    &Light {
      transition: color 0.2s ease-in-out;
      cursor: pointer;
      color: var(--label_color);
      &:hover {
        color: var(--label_hover);
      }
    }
  }
}
