.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 96px;
  h1 {
    font-size: 1.4rem;
    color: var(--text_color);
  }
  h2 {
    font-size: 1rem;
    color: var(--text_color);
  }
  .options {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}
